/* [class*="col"]{
    border: 1px solid gray;
    height: 50px;
}
 */
/* [class*="container"]{
    border: 1px solid gray;
}
 */
.bg_darkblue{
    background-color: rgba(44, 62, 80, 1);
}

.bg_green{
    height: 400px;
    background-color: rgba(26, 188, 156, 1);    
}

.bg_blue{
    height: 150px;
    background-color: rgba(58, 84, 109, 1);
}

li{
    text-transform: uppercase;
}

.mr-auto li:first-child{
    font-weight: 600;
    font-size: 1.5rem;
}
.portfolio{
    height: 500px;
}

.about{
    height: 300px;
    background-color: rgba(26, 188, 156, 1);
}

.contact{
    height: 500px;
}


.copiryght{
    height: 50px;
    background-color: rgba(44, 62, 80, 1);
}